@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
}

body {
  background-color: #111;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
  gap: 5em;
}

.book {
  width: 300px;
  text-align: center;
  box-shadow: rgba(0, 128, 128, 0.23) 0px 10px 20px, black 0px 6px 6px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 10px 10px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.book:hover {
  transform: scale(1.03);
  box-shadow: rgb(0, 128, 128, 0.23) 10px 20px 30px, black 0px 6px 6px;
}

.book .book-image-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.book .book-image-container img {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px black;
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
}

.book:hover .book-image-container img {
  transform: translateY(-15px) scale(1.05);
  box-shadow: 10px 10px 5px black;
}

.book .book-title {
  color: teal;
  font-size: 1.5em;
  text-transform: capitalize;
  font-style: italic;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-3px);
  }
  100% {
    transform: translatey(0px);
  }
}
.searchbar {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 128, 128, 0.5);
  padding: 20px;
  gap: 10px;
}

.searchbar .search {
  width: 300px;
  margin-right: 20px;
  border-radius: 10px;
  border: 5px solid teal;
  height: 20px;
  font-weight: bold;
  font-size: 1em;
  color: teal;
  outline: none;
}

.searchbar .logo {
  text-decoration: none;
  color: #fff;
  font-size: 2.2em;
  font-weight: bold;
  font-style: italic;
  font-family: "Courier Prime", monospace;
  text-decoration: underline;
  text-decoration-color: teal;
}

.fa-book {
  font-size: 2em;
  margin-right: 15px;
  color: teal;
  box-shadow: 5px 5px 10px black;
}

@media (max-width: 450px) {
  .book {
    width: 80%;
  }
  .searchbar .search {
    width: 70%;
  }
  .searchbar {
    justify-content: center;
  }
}
