@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&family=Poppins&display=swap");

* {
  margin: 0;
}

body {
  background-color: #111;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                     Styling for home page and book card                    */
/* -------------------------------------------------------------------------- */

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
  gap: 5em;
}

.book {
  width: 300px;
  text-align: center;
  box-shadow: rgba(0, 128, 128, 0.23) 0px 10px 20px, black 0px 6px 6px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 10px 10px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: all 0.3s ease-in-out;
}

/* ------------------------ onload fade in animation ------------------------ */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.book:hover {
  transform: scale(1.03);
  box-shadow: rgb(0, 128, 128, 0.23) 10px 20px 30px, black 0px 6px 6px;
}

.book .book-image-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.book .book-image-container img {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px black;
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
}

.book:hover .book-image-container img {
  transform: translateY(-15px) scale(1.05);
  box-shadow: 10px 10px 5px black;
}

.book .book-title {
  color: teal;
  font-size: 1.5em;
  text-transform: capitalize;
  font-style: italic;
  animation: float 3s ease-in-out infinite;
}

/* ------------------------------- title float ------------------------------ */

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-3px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* -------------------- picture float for particular book ------------------- */

@keyframes float-about {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-8px);
  box-shadow: 10px 10px 8px black;

  }
  100% {
    transform: translatey(0px);
  }
}

/* ------------------------------- top nav bar ------------------------------ */

.searchbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 128, 128, 0.5);
  padding: 20px;
  gap: 10px;
}

.searchbar .search {
  width: 300px;
  margin-right: 20px;
  border-radius: 10px;
  border: 5px solid teal;
  height: 20px;
  font-weight: bold;
  font-size: 1em;
  color: teal;
  outline: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 2.2em;
  font-weight: bold;
  font-style: italic;
  font-family: "Courier Prime", monospace;
  text-decoration: underline;
  text-decoration-color: teal;
}

.fa-book {
  font-size: 2em;
  margin-right: 15px;
  color: teal;
  box-shadow: 5px 5px 10px black;
}

.fa-arrow-left-long {
  font-size: 1em;
  margin: 0 15px;
}

/* -------------------------------------------------------------------------- */
/*                         Styles for about-book page                         */
/* -------------------------------------------------------------------------- */

.about-main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 128, 128, 0.23);
  border-radius: 20px;
  box-shadow: rgba(0, 128, 128, 0.23) 0px 10px 20px, black 0px 6px 6px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.about-main img {
  height: 250px;
  width: 200px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px black;
  border: 2px solid black;
  animation: float-about 6s ease-in-out infinite;
}

.main-details {
  width: 70%;
  text-align: center;
}

.main-details h1 {
  margin: 10px;
  font-size: 2.5em;
  color: teal;
  font-family: "Courier Prime", Courier, monospace;
}

.main-details p {
  line-height: 1.7;
}

.about-bar {
  display: flex;
  align-items: center;
  background-color: rgba(0, 128, 128, 0.5);
  padding: 5px;
}

.details {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  gap:30px;
  margin:20px 30px;
  font-size: 1.2em;
}

.authors,.date {
  display: flex;
  flex-wrap: wrap;
  gap:15px;
  justify-content: center;
  align-items: center;
}

.fa-pen-to-square,.fa-calendar{
  color: teal;
}

.fa-calendar{
  margin-right: 10px;
}

.details p{
  text-decoration: underline;
  text-decoration-color: teal;
}

.ratings{
  display:flex;
  margin: 30px 30px;
  justify-content:center;
  text-align: center;
  flex-direction: column;
}

.rating{
  display:flex;
  gap:10px;
  justify-content:center;
  align-items:center;
  margin:10px;
}

.fa-star-half-stroke,.fa-star{
  color: #FFD700;
}

.link-button{
  display: flex;
  justify-content: center;
  margin:20px;
}

.link-button button{
  cursor: pointer;
  padding: 10px;
  background-color:teal;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}

.link-button button:hover{
  box-shadow: 10px 10px 5px black;
  transition: all 0.2s ease-in-out;
  transform:scale(1.05)
}

/* -------------------------------------------------------------------------- */
/*                                Media Queries                               */
/* -------------------------------------------------------------------------- */

@media (max-width: 450px) {
  .book {
    width: 80%;
  }
  .searchbar .search {
    width: 70%;
  }
  .searchbar {
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .main-details {
    width: 100%;
  }
}
